{:paths ["src/cljs" "resources"]
 :deps {org.clojure/clojurescript {:mvn/version "1.10.329"}
        com.bhauman/figwheel-main {:mvn/version "0.1.2"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.3"}}}
